div{
    width: 80%;
    height: 100px;
    margin: 20px;
    background-color: bisque;
}

#defecto{
    /* background: linear-gradient(to bottom, blue, pink, yellow); este es el por defecto, es lo mismo que no poner nada */
    background: linear-gradient( blue, pink, yellow);
    transform: rotate(15deg);
    opacity: 0.5;
}

#izda_dcha{
    background: linear-gradient(to right, blue, pink, yellow);
}

#dcha_izda{
    background: linear-gradient(to left, blue, pink, yellow);
}

#arriba{
    background: linear-gradient(to top, blue, pink, yellow);
}

#diagonal_dcha{
    background: linear-gradient(to top right, blue, pink, yellow);
}

#diagonal_izda{
    background: linear-gradient(to top left, blue, pink, yellow);
}

#porDefecto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient( blue, pink, yellow);
}

#circulo{
    background: radial-gradient(circle, blue, pink, yellow);
}

#ellipse{
    background: radial-gradient(ellipse, blue, pink, yellow);
}

#repetir{
    background: repeating-radial-gradient(circle, blue 10%, pink 20%, yellow 30%);
}