form {
    column-count: 3;
    column-gap: 2%;
}

body {
    background-color: #60a5cc;
    color: white;
    font-size: 15px;
}

label{
    width: 100%;
}

input{
    width: 100%;  
    background-color: #60a5cc;
    border: white solid 2px;
    color: rgb(55, 94, 179);
    font-style: italic;
}

.inputsBig{
    box-sizing: border-box;
    padding: 50px;
}

::placeholder{
    color: rgba(47, 83, 138, 0.801);
}

select{
    background: linear-gradient( rgba(255, 255, 255, 0.46), #5294b1, rgba(255, 255, 255, 0.46)); 
    border: rgba(255, 255, 255, 0.521) solid 2px;
    color: white;
    margin-bottom: 2%;
    border-radius: 5px;
    width: 100%;
}

option{
    background-color: #5294b1;
}

@media (max-width: 600px) {
    form{
        column-count: 1;
    }
}