/*Todos los campos deshabilitados se mostrarán en rojo*/

input:disabled {
    color: red;
}

/* Los campos de los checkbox que se han seleccionado, queremos mostrar la etiqueta en verde y negrita*/

/*El operador +: selector adyacente -> aplica el estilo al elemento que está al lado del checkbox*/

input[type=checkbox]:checked + label {
    color: green;
    font-weight: bold;
}

/*El elemento que adquiera el foco (elemento seleccionado), queremos poner un borde naranja. Esto funciona con los radiobutton y checkbox*/

input:focus + label {
    border: thin solid coral;
}

/* Para las cajas de texto, funciona así*/

input:focus {
    border: thin solid coral;
    outline: none;
}

/*De ol, seleccionar todos los nombres que comienzan por P y ponerlos de fondo amarillo*/

ol li[id^="P"] {
    background-color: yellow;
    width: fit-content; /*Esto sirve para limitar el background al texto*/
}

/*De ol, seleccionar todos los nombres que terminan por e y E y ponerlos de fondo aqua*/ /*Para poner más de uno ol li:is([id$="e"], [id$="E"])
*/

ol li[id$="e"], ol li[id$="E"] {
    background-color: aqua;
    width: fit-content;
}

/*De ol, seleccionar todos los nombres que contienen por t y ponerlos de fondo hotpink*/

ol li[id*="t"] {
    background-color: hotpink;
    width: fit-content;
}

/* OL seleccionar todos los nombres que empiecen por P y terminen por a, ponerlos de gondo greenyellow*/

ol li:is([id^="P"] [id$="a"]) {
    background-color: greenyellow;
    width: fit-content;
}


ul li:first-child{
    background-color: yellow;
    width: fit-content;
}

ul li:last-child{
    background-color: pink;
    width: fit-content;
}

#tabla1 tr:nth-child(odd){ /*impar*/
    background-color: beige;
}

#tabla1 tr:nth-child(even){ /*par*/
    background-color: rgb(172, 172, 101);
}

/* En la tabla2 cebreada por columnas*/

#tabla2 th:nth-child(even), #tabla2 td:nth-child(even){
    background-color: beige;
}

#tabla2 th:nth-child(odd), #tabla2 td:nth-child(odd){
    background-color: rgb(172, 172, 101);
}