body{
    display: flex;
    flex-wrap: wrap;
}

div{
    width: 150px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(155, 190, 155);
}


#sec2{
    border-radius: 20px; 
    padding: 20px;
}

#sec3{
    border-radius: 100px 20px;
    padding: 20px;
}

#sec4{
    border-radius: 40px/150px;


}

#sec5{
    border-radius: 30px 200px 30px 50px;
    padding: 40px 60px 20px 20px;
}

#sec6{
  border-radius: 40px 40px 200px 200px/40px 40px 400px 400px;
  padding: 0px 10px 60px 30px;
}