/* section{
    
} */
a{
    color: #CC0000;
    margin: 10px;
    text-decoration: none;
}

a:hover{
    color: #FFF;
    background-color: #CC0000;
    padding: 5px;
}

a:visited{
    color: #CCC;
}

a:active{
    background-color: chocolate;
}